<div class="editor">
  <div class="schemas">
    <button type="button" (click)="reset()">Reset</button>
    Schema Catalog:
    <textarea [formControl]="schemaControl" rows="10"></textarea>
    <!-- Full schema catalog:
    <textarea readonly [formControl]="catalogControl" rows="10"></textarea> -->
  </div>
  <div class="components">
    <div *ngIf="err">
      Could not construct form data<br>
      <hr>
      {{err}}
    </div>
    <div *ngIf="formGroupInfo && !err">
      <form (ngSubmit)="submit()" [formGroup]="formGroupInfo.control">
        <button type="submit">Send</button>
        <h1>{{formGroupInfo.schema.title}}</h1>
        <h3>{{formGroupInfo.schema.description}}</h3>
        <hr>
        Pure
        <!-- PURE -->
        <div class="field" *ngFor="let kvp of formGroupInfo.controlInfos | keyvalue">
          <oang-field [controlInfo]="kvp.value"></oang-field>
        </div>
        <hr>
        <!-- MATERIAL -->
        <app-mat-example [formGroupInfo]="formGroupInfo"></app-mat-example>
      </form>
    </div>
  </div>
  <div class="result">
    <div>
      <h1>Form Value</h1>
    </div>
    <textarea readonly>
    {{formGroupInfo?.control.value | json}}
  </textarea>
  </div>
</div>



<router-outlet></router-outlet>