<div class="editor">
  <div>
    <button type="button" (click)="reset()">Reset</button>
    <textarea [formControl]="schemaControl" rows="10"></textarea>
  </div>
  <div class="components">
    <div *ngIf="!formGroupInfo">
      Could not construct form data<br>
      <hr>
      {{err}}
    </div>
    <div *ngIf="formGroupInfo">
      <form (ngSubmit)="submit()" [formGroup]="formGroupInfo.control">
        <button type="submit">Send</button>
        <h1>{{formGroupInfo.schema.title}}</h1>
        <h3>{{formGroupInfo.schema.description}}</h3>
        <hr>
        Pure
        <!-- PURE -->
        <div class="field" *ngFor="let kvp of formGroupInfo.controlInfos | keyvalue">
          <oang-field [controlInfo]="kvp.value"></oang-field>
        </div>
<hr>
        <!-- MATERIAL -->
        <app-mat-example [schema]="currentSchema"></app-mat-example>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>